@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
    margin: 0;
    background: #131313;
    color: #fff;
    font-size: 10px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.center {
    width: 50%;
    align-items: center;

}

.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;  
}

/* .text {
    align-items: center;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}  */

.glitch{
    animation: glitch 1.5s linear infinite;
}

@keyframes glitch{
2%,64%{
    transform: translate(2px,0) skew(0deg);
}
4%,60%{
    transform: translate(-2px,0) skew(0deg);
}
62%{
    transform: translate(0,0) skew(5deg); 
}
}

.glitch:before,
.glitch:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

.glitch:before{
    animation: glitchTop 1.5s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
2%,64%{
    transform: translate(2px,-2px);
}
4%,60%{
    transform: translate(-2px,2px);
}
62%{
    transform: translate(13px,-1px) skew(-13deg); 
}
}

.glitch:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
2%,64%{
    transform: translate(-2px,0);
}
4%,60%{
    transform: translate(-2px,0);
}
62%{
    transform: translate(-22px,5px) skew(21deg); 
}
}